table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	width: 170px;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	//background-color: #ffffff;
	width: 100px;
	
}

#panel,#flip
{
padding:5px;
text-align:left;
background-color:#FFFFF0;
border:solid 1px #c3c3c3;
}
#panel
{
padding:50px;
display:none;
}